HWL-Kernel/Web References/OnlineReporting/StatisticsReporting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://StatisticData/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://StatisticData/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://StatisticData/">
      <s:element name="SendApplicationMetricData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="runningModule" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="instanceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="AppID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AppVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AppName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendApplicationMetricDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendApplicationMetricDataSoapIn">
    <wsdl:part name="parameters" element="tns:SendApplicationMetricData" />
  </wsdl:message>
  <wsdl:message name="SendApplicationMetricDataSoapOut">
    <wsdl:part name="parameters" element="tns:SendApplicationMetricDataResponse" />
  </wsdl:message>
  <wsdl:portType name="StatisticsReportingSoap">
    <wsdl:operation name="SendApplicationMetricData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sendet statistische Ablaufdaten</wsdl:documentation>
      <wsdl:input message="tns:SendApplicationMetricDataSoapIn" />
      <wsdl:output message="tns:SendApplicationMetricDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatisticsReportingSoap" type="tns:StatisticsReportingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendApplicationMetricData">
      <soap:operation soapAction="http://StatisticData/SendApplicationMetricData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StatisticsReportingSoap12" type="tns:StatisticsReportingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendApplicationMetricData">
      <soap12:operation soapAction="http://StatisticData/SendApplicationMetricData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatisticsReporting">
    <wsdl:port name="StatisticsReportingSoap" binding="tns:StatisticsReportingSoap">
      <soap:address location="http://83.169.8.193/data/StatisticsReporting.asmx" />
    </wsdl:port>
    <wsdl:port name="StatisticsReportingSoap12" binding="tns:StatisticsReportingSoap12">
      <soap12:address location="http://83.169.8.193/data/StatisticsReporting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>